@import '~antd/dist/antd.css';

.VacationForm .ant-row{
  margin-bottom:1rem;
}
.VacationForm .ant-row .ant-col-7 .ant-form-item{
  width:100%;
}

.VacationTable .ant-table-tbody tr{
  background: #fff;
}
.ant-table-wrapper.VacationTable{
  width:90%;
}