#vacation{
    overflow: auto;
    height: 565px;
}
form{
    width: 100%;
}
.am-list-item .am-list-line .am-list-extra {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}
.btnGroup{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
    background-color: rgba(255,255,255,0.5);
    float: right;
}